
<p>
  <strong>Vaccine type:</strong>
  <%= @conservation_rule.vaccine_type_id %>
</p>

<p>
  <strong>Min temp:</strong>
  <%= @conservation_rule.min_temp %>
</p>

<p>
  <strong>Max temp:</strong>
  <%= @conservation_rule.max_temp %>
</p>

<p>
  <strong>Max variation:</strong>
  <%= @conservation_rule.max_variation %>
</p>

<p>
  <strong>Range hours:</strong>
  <%= @conservation_rule.range_hours %>
</p>

<%= link_to 'Editar', edit_conservation_rule_path(@conservation_rule) %> |
<%= link_to 'Voltar', conservation_rules_path %>
