<p id="notice"><%= notice %></p>

<h1>Equipaments</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Manufacturer</th>
      <th>Vaccination point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipaments.each do |equipament| %>
      <tr>
        <td><%= equipament.cod %></td>
        <td><%= equipament.manufacturer_id %></td>
        <td><%= equipament.vaccination_point_id %></td>
        <td><%= link_to 'Show', equipament %></td>
        <td><%= link_to 'Edit', edit_equipament_path(equipament) %></td>
        <td><%= link_to 'Destroy', equipament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipament', new_equipament_path %>
