
<p>
  <strong>Cod:</strong>
  <%= @equipament.cod %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @equipament.manufacturer.name unless @equipament.manufacturer.nil? %>
</p>

<p>
  <strong>Ponto de Vacinação:</strong>
  <%= @equipament.vaccination_point.name unless @equipament.vaccination_point.nil? %>
</p>

<%= link_to 'Editar', edit_equipament_path(@equipament) %> |
<%= link_to 'Voltar', equipaments_path %>
