
<%= simple_form_for(@vaccination_compaigns_target) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :vaccination_campaign %>
    <%= f.input :date_start %>
    <%= f.input :date_end %>
    <%= f.input :min_years_old %>
    <%= f.input :max_years_old %>
    <%= f.input :with_comorbidity %>
    <%= f.input :restrictions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
