
<p>
  <strong>Campanha de Vacinação:</strong>
  <%= @vaccination_compaigns_target.vaccination_campaign_id %>
</p>

<p>
  <strong>Período:</strong>
  <%= @vaccination_compaigns_target.date_start %> - <%= @vaccination_compaigns_target.date_end %>
</p>

<p>
  <strong>Idade Mínima/Máxima:</strong>
  <%= @vaccination_compaigns_target.min_years_old %> até <%= @vaccination_compaigns_target.max_years_old %>
</p>

<p>
  <strong>Com comorbidades</strong>
  <%= @vaccination_compaigns_target.with_comorbidity %>
</p>

<p>
  <strong>Restrições:</strong>
  <%= @vaccination_compaigns_target.restrictions %>
</p>


<%= link_to '<i class="fa fa-arrow-left"></i> '.html_safe+t('.back', :default => t("helpers.links.back")),
              vaccination_compaigns_targets_path, :class => 'btn btn-outline-secondary'  %>

<% if can? :write, VaccinationCompaignsTarget %>
<%= link_to '<i class="fa fa-edit"></i> '.html_safe+t('.edit', :default => t("helpers.links.edit")),
              edit_vaccination_compaigns_target_path(@vaccination_compaigns_target), :class => 'btn btn-warning' %>

<%= link_to '<i class="fa fa-trash"></i> '.html_safe+t('.destroy', :default => t("helpers.links.destroy")),
              vaccination_compaigns_target_path(@vaccination_compaigns_target),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
