<%- model_class = VaccinationPoint -%>
<div class="page-header">
  <h4><%=t '.title', :default => "Pontos de Vacinação" %></h4>
</div>
<table id="table-vaccination-points" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Tipo</th>
      <th>Nome</th>
      <th>Endereço</th>
      <%# <th>Lat.</th>
      <th>Long.</th> %>
      <th>Contato</th>
      <th>Raio <small>km</small></th>
      <th>Atualizado Em?</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vaccination_points.each do |vaccination_point| %>
      <tr>
        <td><%= link_to vaccination_point.id, vaccination_point_path(vaccination_point) %></td>
        <td><%= vaccination_point.vaccination_point_type.cod %></td>
        <td><%= vaccination_point.name.truncate(15) %></td>
        <td><a target="_blank" href="https://www.google.com/maps/place/<%= vaccination_point.address %>" data-toggle="tooltip" title="<%= vaccination_point.address %>">Ver endereço</a></td>
        <!--<td><%= vaccination_point.latitude %></td>
        <td><%= vaccination_point.longitude %></td>-->
        <td><%= vaccination_point.contact_number %></td>
        <td><%= vaccination_point.radius_km %></td>
        <td><%= vaccination_point.updated_at.localtime.strftime('%Y-%m-%d %H:%M') %></td>
        <td>
          <% if can? :read, VaccinationPoint %>
            <%= link_to '<i class="fa fa-eye"></i> '.html_safe+t('.show', :default => t("helpers.links.show")), vaccination_point , :class => 'btn btn-info btn-xs'%>
          <% end %>

          <% if can? :update, VaccinationPoint %>
          <%= link_to '<i class="fa fa-edit"></i> '.html_safe+t('.edit', :default => t("helpers.links.edit")),
                      edit_vaccination_point_path(vaccination_point), :class => 'btn btn-warning btn-xs' %>
          <% end %>

          <% if can? :destroy, VaccinationPoint %>
          <%= link_to '<i class="fa fa-trash"></i> '.html_safe+t('.destroy', :default => t("helpers.links.destroy")),
                      vaccination_point_path(vaccination_point),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, VaccinationPoint %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vaccination_point_path,
            :class => 'btn btn-primary' %>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  
</script>

<script>
$(document).ready(function () {
  $('#table-vaccination-points').DataTable({
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json'
    }
  });
});
</script>
