<%- model_class = VaccineType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @vaccine_type.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cod) %>:</strong></dt>
  <dd><%= @vaccine_type.cod %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= @vaccine_type.manufacturer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:efficiency) %>:</strong></dt>
  <dd><%= @vaccine_type.efficiency %></dd>

  <dt><strong><%= model_class.human_attribute_name(:max_interval_in_days) %>:</strong></dt>
  <dd><%= @vaccine_type.max_interval_in_days %></dd>
  <dt><strong><%= model_class.human_attribute_name(:disease) %>:</strong></dt>
  <dd><%= @vaccine_type.disease %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              vaccine_types_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vaccine_type_path(@vaccine_type), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vaccine_type_path(@vaccine_type),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
