
<p>
  <strong>Nome:</strong>
  <%= @disease.name %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @disease.cod %>
</p>

<p>
  <strong>Nome Cientifico:</strong>
  <%= @disease.complete_name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @disease.description %>
</p>

<p>
  <strong>Sintomas:</strong>
  <%= @disease.symptoms %>
</p>

<p>
  <strong>Restrições:</strong>
  <%= @disease.restrictions %>
</p>

<p>
  <strong>Patógeno</strong>
  <%= @disease.pathogen %>
</p>

<p>
  <strong>Descrição do Patógeno:</strong>
  <%= @disease.pathogen_description %>
</p>

<p>
  <strong>Contagioso?</strong>
  <%=( @disease.is_contagious ) ? "Sim" : "Não" %>
</p>


<% if can? :write, Disease %>
<%= link_to '<i class="fa fa-edit"></i> '.html_safe+t('.edit', :default => t("helpers.links.edit")),
              edit_disease_path(@disease), :class => 'btn btn-warning' %>
<%= link_to '<i class="fa fa-trash"></i> '.html_safe+t('.destroy', :default => t("helpers.links.destroy")),
              disease_path(@disease),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>

