<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sensor_manufacturer.name %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @sensor_manufacturer.cod %>
</p>

<%= link_to 'Edit', edit_sensor_manufacturer_path(@sensor_manufacturer) %> |
<%= link_to 'Back', sensor_manufacturers_path %>
