<div class="page-header">
  <h4><%=t '.title', :default => "Campanhas de Vacinação" %></h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Inicio</th>
      <th>Data de Término</th>
      <th>Descrição</th>
      <th>Públicos</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccination_campaigns.each do |vaccination_campaign| %>
      <tr>
        <td><%= vaccination_campaign.name %></td>
        <td><%= vaccination_campaign.date_start %></td>
        <td><%= vaccination_campaign.date_end %></td>
        <td><%= vaccination_campaign.description %></td>
        <td><%= vaccination_campaign.vaccination_compaigns_targets.count %></td>
        <td>
          <% if can? :read, VaccinationCampaign %>
            <%= link_to '<i class="fa fa-eye"></i> '.html_safe+t('.show', :default => t("helpers.links.show")), vaccination_campaign , :class => 'btn btn-info btn-xs'%>
          <% end %>

          <% if can? :update, VaccinationCampaign %>
          <%= link_to '<i class="fa fa-edit"></i> '.html_safe+t('.edit', :default => t("helpers.links.edit")),
                      edit_vaccination_campaign_path(vaccination_campaign), :class => 'btn btn-warning btn-xs' %>
          <% end %>

          <% if can? :destroy, VaccinationCampaign %>
          <%= link_to '<i class="fa fa-trash"></i> '.html_safe+t('.destroy', :default => t("helpers.links.destroy")),
                      vaccination_campaign_path(vaccination_campaign),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vaccination_campaign_path,
            :class => 'btn btn-primary' %>