<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vaccination_campaign.name %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @vaccination_campaign.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @vaccination_campaign.date_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vaccination_campaign.description %>
</p>

<%= link_to 'Edit', edit_vaccination_campaign_path(@vaccination_campaign) %> |
<%= link_to 'Back', vaccination_campaigns_path %>
