
<%= simple_form_for(@measurement) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :equipament, collection: Equipament.all.map { |vpt| ["#{vpt.vaccination_point.name} - #{vpt.manufacturer.name} - #{vpt.cod}", vpt.id] }, :label => "Equipamento" %>
    <%= f.input :date_hour, :label => "Data e Hora" %>
    <%= f.input :unit, :label => "Unidade de Medida" %>
    <%= f.input :value, :label => "Valor" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar Medição" %>
  </div>
<% end %>
