
<%= simple_form_for(@user_vaccine) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date_vaccination, :label => "Data de Vacinação" %>
    <%= f.input :batch, :label => "Lote" %>

    <%= f.association :vaccine_type, collection: VaccineType.includes(:disease).all.map { |vpt| ["#{vpt.disease.name} - #{vpt.name}", vpt.id] }, :label => "Tipo de Vacinação" %>
    <%= f.association :vaccination_point, collection: VaccinationPoint.includes(:vaccination_point_type).all.map { |vpt| ["#{vpt.vaccination_point_type.cod} - #{vpt.name}", vpt.id] }, :label => "Ponto de Vacinação" %>
    <%= f.association :user, collection: User.with_role(:patient).all.map { |vpt| ["#{vpt.roles.first.name.capitalize} - #{vpt.name}", vpt.id] }, :label => "Paciente" %>
    
    <%= f.input :signed_by, collection: User.with_role(:worker).all, :label_method => :complete_name, :value_method => :id, :label => "Aplicado por" %>
    <%= f.input :dose_number, :label => "Núm. de Doses" %>
    <%= f.input :is_complete, :label => "Completa" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"Confirmar", class: 'btn btn-success'%>
  </div>
<% end %>
