
<% notifier_member = notification.notifier.present? ? notification.notifier.printable_notifier_name : 'Vacina Já' %>
<% notifiable = notification.notifiable %>
<% class_status_notification = (notification.unopened?) ? 'list-group-item-success' : 'list-group-item-light' %>


<% 
    unless notifiable.blank?
        class_status_notification_icon = (notification.unopened?) ? notifiable.notifier_message[:icon_class] : 'fa fa-circle text-gray'
    else 
        class_status_notification_icon = 'fa fa-circle text-gray' 
    end
%>


<%= link_to open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :put, remote: true, class: "unopened_wrapper list-group-item list-group-item-action notification_#{notification.id} #{class_status_notification}" do %>
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= notifiable.notifier_message[:title] unless notifiable.nil? %></h5>
    <small><i class='<%= class_status_notification_icon %>'></i></small>
    </div>
    <p class="mb-1"><small><%= notifiable.notifier_message[:message] unless notifiable.nil? %></small></p>
    <small><%= distance_of_time_in_words(notification.created_at,Time.now).capitalize %></small>
<% end %>

