<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-right ml-auto">
   <a class="navbar-brand" href="#">
    <i class="fas fa-syringe"></i>
    Vacina Já!
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <% unless current_user.nil? %>
      
      <% if current_user.has_role? :admin %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to('Tipos de Vacinas', vaccine_types_path, :class => "dropdown-item") %>
          <%= link_to('Tipos de Pontos de Vacinação', vaccination_point_types_path, :class => "dropdown-item") %>
          <%= link_to('Tipos de Doenças', diseases_path, :class => "dropdown-item") %>
          <%= link_to('Regras de Convervação', conservation_rules_path, :class => "dropdown-item") %>
          <%= link_to('Equipamentos', equipaments_path, :class => "dropdown-item") %>
          <%= link_to('Fabricantes de Equipamentos', manufacturers_path, :class => "dropdown-item") %>
        </div>
      </li>
      <% end %>

      <% if current_user.has_role?(:worker) || current_user.has_role?(:admin) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vacinação
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to('Pontos de Vacinação', vaccination_points_path, :class => "dropdown-item") %>
          <%= link_to('Vacinas', vaccinations_path, :class => "dropdown-item") %>
          <%= link_to('Campanhas', vaccination_campaigns_path, :class => "dropdown-item") %>
        </div>
      </li>
      <% end %>

      <li class="nav-item">
        <a class="nav-link" href="/user_vaccines">Minhas Vacinas</a>
      </li>
      <% end %>
    </ul>

    <form class="form-inline mt-2 mt-md-0">

    <ul class="navbar-nav mr-auto pull-right">
      <% if user_signed_in? %>
        <%= render_notifications_of current_user, fallback: :default, index_content: :with_attributes, devise_default_routes: respond_to?('notifications_path') %>
        <%#= render_notifications_of current_user, fallback: :default, index_content: :unopened_with_attributes, reverse: true %>
        <%#= render_notifications_of current_user, fallback: :default, index_content: :with_attributes, as_latest_group_member: true %>
        <%#= render_notifications_of current_user, fallback: :default_without_grouping, index_content: :with_attributes, with_group_members: true %>
      <% end %>
     
      <% unless current_user.nil? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to('Meu perfil', edit_user_registration_path, :class => "dropdown-item") %>
          <div class="dropdown-divider"></div>
          <%= link_to('Sair', destroy_user_session_path, method: :delete, :class => "dropdown-item") %>  
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to('Login', new_user_session_path, :class => "nav-link") %> 
      </li>
    <% end %>
    </ul>
    </form>
  </div>
</nav>
